In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option("display.max_rows", 5)
pd.set_option("display.max_columns", 5)

In [3]:
books=pd.read_csv('Books.csv')
ratings=pd.read_csv('Ratings.csv')
users=pd.read_csv('Users.csv')

C:\Users\naman\AppData\Local\Temp\ipykernel_356\775865190.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('Books.csv')

In [4]:
books.head

<bound method NDFrame.head of               ISBN                                         Book-Title  ...  \
0       0195153448                                Classical Mythology  ...
1       0002005018                                       Clara Callan  ...
...            ...                                                ...  ...
271358  0192126040                        Republic (World's Classics)  ...
271359  0767409752  A Guided Tour of Rene Descartes' Meditations o...  ...

                                              Image-URL-M  \
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
...                                                   ...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

                                              Image-URL-L
0       http://images.amazon.com/images/P/0195153448.0...
1       http://images.amazon.com/images/P/0002005018.0...
...                                                   ...
271358  http://images.amazon.com/images/P/0192126040.0...
271359  http://images.amazon.com/images/P/0767409752.0...

[271360 rows x 8 columns]>

In [5]:
users.head

<bound method NDFrame.head of         User-ID                   Location   Age
0             1         nyc, new york, usa   NaN
1             2  stockton, california, usa  18.0
...         ...                        ...   ...
278856   278857  knoxville, tennessee, usa   NaN
278857   278858       dublin, n/a, ireland   NaN

[278858 rows x 3 columns]>

In [6]:
ratings.head

<bound method NDFrame.head of          User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
...          ...          ...          ...
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]>

In [7]:
print(books.shape)

(271360, 8)

In [8]:
books.isnull().sum()

ISBN           0
Book-Title     0
              ..
Image-URL-M    0
Image-URL-L    3
Length: 8, dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
users.head

<bound method NDFrame.head of         User-ID                   Location   Age
0             1         nyc, new york, usa   NaN
1             2  stockton, california, usa  18.0
...         ...                        ...   ...
278856   278857  knoxville, tennessee, usa   NaN
278857   278858       dublin, n/a, ireland   NaN

[278858 rows x 3 columns]>

In [11]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [12]:
books.isnull().sum()

ISBN           0
Book-Title     0
              ..
Image-URL-M    0
Image-URL-L    3
Length: 8, dtype: int64

In [13]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [14]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [15]:
books.duplicated().sum()

0

In [16]:
ratings.duplicated().sum()

0

In [17]:
users.duplicated().sum()

0

## popularity based  recommender system

In [18]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [19]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
...                                                   ...          ...
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [22]:
# Convert 'Book-Rating' column to numeric, coercing errors to NaN
ratings_with_name['Book-Rating'] = pd.to_numeric(ratings_with_name['Book-Rating'], errors='coerce')

# Drop NaN values from 'Book-Rating' column
ratings_with_name = ratings_with_name.dropna(subset=['Book-Rating'])

# Grouping the DataFrame by 'Book-Title' and calculating the mean of 'Book-Rating' for each book
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()

# Renaming the column 'Book-Rating' to 'avg_rating'
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)

# Displaying the resulting DataFrame
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
...                                                   ...         ...
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [23]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
...,...,...,...
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [24]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [25]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [26]:
popular_df['Image-URL-M'][0]

'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg'

### Collaborative filtering based recommender system

In [27]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
padhe_likhe_users = x[x].index

In [28]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [29]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [30]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [31]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [32]:
pt.fillna(0,inplace=True)

In [33]:
pt

User-ID              254     2276    ...  277639  278418
Book-Title                           ...
1984                    9.0     0.0  ...     0.0     0.0
1st to Die: A Novel     0.0     0.0  ...     0.0     0.0
...                     ...     ...  ...     ...     ...
Zoya                    0.0     0.0  ...     0.0     0.0
\O\" Is for Outlaw"     0.0     0.0  ...     0.0     0.0

[706 rows x 810 columns]

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity_scores = cosine_similarity(pt)

In [36]:
similarity_scores.shape

(706, 706)

In [37]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [38]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [39]:
pt.index[545]

"The Handmaid's Tale"

In [40]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [41]:
books.drop_duplicates('Book-Title')

,ISBN,Book-Title,...,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
...,...,...,...,...,...
271358,0192126040,Republic (World's Classics),...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [42]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))